.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
background-image: url(./img.jpg);

}


.news-main{
  padding-top: 170px;
  display: inline-flex;
  flex-flow: row;
}

.news-image{
  border: 2px solid black;
     border-radius: 20px;
     
     width: 350px;
     height: 350px;
}

.news-h4,.news-p{
  
  color: white;
}

#eventsfinder,#suggestion{
  padding-top: 200px;
}
#city {
  width: 50%;
}

.events-image {
  border: 2px solid black;
  border-radius: 20px;
  
  width: 400px;
  height: 400px;

}
.events-ul{
  list-style: none;
}

li{
  color: white;
}

#event-name, .suggestion-desc{

  text-decoration: underline overline;
}
.form-label{
  color:white;
}
.display{
  padding: 100px;
}

.suggestionDisplay{
  list-style: none;
}

.weather-ul{
 
  list-style: none;
  
}

.nav-weather{
  color: black;
}
#weather-li{

  color: white;
  font-weight: 700;
}
.weather{
  position: fixed;
  right: 80px;
  border: 2px solid black;
 
  background-image: url(download.jpeg);


}