.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 body{
background-image: url(./img.jpg);

}  
/* .justify-content-center{
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 40px;
}   */

/* .weather-ul{

text-align: left;
list-style-type: none;
z-index: 1;
position: fixed;
padding-left: 70%;
border: 2px solid black;



}
li{
  color: white;
  text-decoration: none;
} */

.news-main{
  padding-top: 100px;
  display: inline-flex;
  flex-flow: row;

  /* text-align: center;
  border: 2px solid gold;
  /* border-radius: 20px; */
  /* width: 150px; */
  
 /* display: inline-block;
 background-color: transparent;
 text-shadow: 0px 0px 10px grey;  */
}

.news-image{
  border: 2px solid black;
     border-radius: 20px;
     
     width: 350px;
     height: 350px;
}

.news-h4,.news-p{
  
  color: white;
}

#eventsfinder{
  padding-top: 100px;
}
#city {
  width: 50%;
}

.events-image {
  border: 2px solid black;
  border-radius: 20px;
  
  width: 400px;
  height: 400px;

}
.events-ul{
  list-style: none;
}

li{
  color: white;
}

#event-name{

  text-decoration: underline overline;
}
